*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* genearl rules */

h1, h3{
    font-family: "Fredoka One";
}

h1{
    color: rgb(229,49,112);
    margin-bottom: 30px;
}

#container{
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

img{
    height: 100px;
}

/* header */

#head-txt{
    font-size: 20px;
    font-weight: lighter;
}

/* main */

.row::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    background-color: rgb(15,14,23);
    float: left;
    width: calc((100%/3) - 40px);
    margin: 20px;
}

.col-txt{
    color: white;
    text-align: left;
    font-size: 18;
    margin-left: 10px;
    padding: 10px;
    line-height: 25px;
}

.row{
    margin-top: 30px;
}

/* inter main */

.inter-col{
    float: left;
}